body {
  background-color: #000000;
  color: #CCCCCC;
  font-family: monospace;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

a:visited, a:link, a:active {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
	color: #00FF00;
	text-decoration: none;
	font-size: 16px;	
}

p {
  text-align: left;
  font-size: 16px;
}

h1 {
	color: #04B404; 
    text-align: center;
    font-size: 32px;
}

h2 {
  color: #ef6177; 
  text-align: left;
  font-size: 24px;
}

.startpagelinkbox {
  padding: 7px;
  position: relative;
	margin: auto;
	outline: #CCCCCC solid 1px;
	display: table;
	font-size: 24px;
}

#startpagelink {
  font-size: 24px;
  display: inline;
}

#searchbar {
  text-align: center;
	margin: 3%;
}

#searchquery {
  background-color: #131313;
  font-size: 16px;
  color: #FFFFFF;
  font-family: monospace;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr {
	border-top: 4px double #8c8b8b;
}