body {
    background-color: #FEFEFE;
    color: #454545;
    font-family: "Open Sans", Arial;
    font-size: 16px;
    max-width: 800px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

a:visited, a:link, a:active {
    color: #07A;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #07F;
    text-decoration: none;
    font-size: 16px;	
}

p {
    text-align: left;
    font-size: 16px;
}

h1 {
   
    text-align: center;
    font-size: 32px;
}
h2 {
    color: #ef6177; 
    text-align: left;
    font-size: 24px;
}
h3 {
    color: #04B404; 
    text-align: left;
    font-size: 32px;
}
#col {
    color: #ef6177; 
    font-size: 24px;
    display: inline;
}
#startpagelink {
    font-size: 24px;
    display: inline;
}
